In [1]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\augus\\Dev\\Python\\tf'

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'cal_housing_clean.csv',
 'cal_regression.ipynb',
 'census_data.csv',
 'LinReg.ipynb',
 'LinReg_tf_estimator.ipynb',
 'pima-indians-diabetes.csv',
 'tensorflow.ipynb',
 'tf_classification.ipynb',
 'Untitled.ipynb']

In [5]:
df =pd.read_csv('census_data.csv')

In [6]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [9]:
ar =df['income_bracket'].unique()

In [15]:
df['income_bracket']=df['income_bracket'].apply(lambda x: 0 if (x == ar[0] ) else 1)

In [29]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [34]:
numer_col =['age','education_num','capital_gain','capital_loss','hours_per_week']

In [35]:
cate_col = ['workclass','education','marital_status','occupation','relationship','race','native_country']

In [36]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",['Female','Male'])

In [41]:
num_col =[] # tf numeric columns
categ_col=[] # tf categorical with hash bucket columns
feat_col=[] # all feature columns = numeric  + categorical

In [42]:
for x in numer_col:
    num_col.append(tf.feature_column.numeric_column(x))
    
for x in cate_col:
    categ_col.append(tf.feature_column.categorical_column_with_hash_bucket(x,hash_bucket_size=100))

In [45]:
feat_col = num_col+[gender]+categ_col

In [46]:
feat_col

[_NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _VocabularyListCategoricalColumn(key='gender', vocabulary_list=('Female', 'Male'), dtype=tf.string, default_value=-1, num_oov_buckets=0),
 _HashedCategoricalColumn(key='workclass', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='education', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='marital_status', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='occupation', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='relationship', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='race', hash_bucket_size=100, dtype=tf.string),
 _HashedCategoricalColumn(key='native_country', hash_bucket_size=100, dtype=tf.string)]

In [47]:
x_data = df.drop('income_bracket',axis =1)

In [49]:
y_labels = df['income_bracket']

In [51]:
X_train,X_test,y_train,y_test = train_test_split(x_data,y_labels,test_size =0.4, random_state = 100)

In [53]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape,sep='\n')

(19536, 13)
(19536,)
(13025, 13)
(13025,)

In [55]:
input_func =tf.estimator.inputs.pandas_input_fn(x=X_train,y= y_train,batch_size =100,num_epochs=None,shuffle=True)

In [ ]:
model =tf.estimator.LinearClassifier(feature_columns=feat_col,